<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @console.title %>
</p>

<p>
  <strong>Img1:</strong>
  <%= @console.img1 %>
</p>

<p>
  <strong>Img2:</strong>
  <%= @console.img2 %>
</p>

<p>
  <strong>Img3:</strong>
  <%= @console.img3 %>
</p>

<p>
  <strong>Img4:</strong>
  <%= @console.img4 %>
</p>

<p>
  <strong>Video1:</strong>
  <%= @console.video1 %>
</p>

<p>
  <strong>Video2:</strong>
  <%= @console.video2 %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @console.platform %>
</p>

<p>
  <strong>Emu:</strong>
  <%= @console.emu %>
</p>

<p>
  <strong>System:</strong>
  <%= @console.system %>
</p>

<p>
  <strong>Price:</strong>
  <%= @console.price %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @console.buy %>
</p>

<p>
  <strong>About:</strong>
  <%= @console.about %>
</p>

<p>
  <strong>Info:</strong>
  <%= @console.info %>
</p>

<%= link_to 'Edit', edit_console_path(@console) %> |
<%= link_to 'Back', consoles_path %>
