<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :img1 %>
    <%= form.text_field :img1 %>
  </div>

  <div class="field">
    <%= form.label :img2 %>
    <%= form.text_field :img2 %>
  </div>

  <div class="field">
    <%= form.label :img3 %>
    <%= form.text_field :img3 %>
  </div>

  <div class="field">
    <%= form.label :img4 %>
    <%= form.text_field :img4 %>
  </div>

  <div class="field">
    <%= form.label :video1 %>
    <%= form.text_field :video1 %>
  </div>

  <div class="field">
    <%= form.label :video2 %>
    <%= form.text_field :video2 %>
  </div>

  <div class="field">
    <%= form.label :aboutgame %>
    <%= form.text_field :aboutgame %>
  </div>

  <div class="field">
    <%= form.label :platform %>
    <%= form.text_field :platform %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :hitnt %>
    <%= form.text_field :hitnt %>
  </div>

  <div class="field">
    <%= form.label :try %>
    <%= form.text_field :try %>
  </div>

  <div class="field">
    <%= form.label :buy %>
    <%= form.text_field :buy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
