<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Img1:</strong>
  <%= @game.img1 %>
</p>

<p>
  <strong>Img2:</strong>
  <%= @game.img2 %>
</p>

<p>
  <strong>Img3:</strong>
  <%= @game.img3 %>
</p>

<p>
  <strong>Img4:</strong>
  <%= @game.img4 %>
</p>

<p>
  <strong>Video1:</strong>
  <%= @game.video1 %>
</p>

<p>
  <strong>Video2:</strong>
  <%= @game.video2 %>
</p>

<p>
  <strong>Aboutgame:</strong>
  <%= @game.aboutgame %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Hitnt:</strong>
  <%= @game.hitnt %>
</p>

<p>
  <strong>Try:</strong>
  <%= @game.try %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @game.buy %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
